<div class="post-recent">
    <div class="pre" style="display:inline-block; margin-top: 20px;">
        {% if page.previous %}
        <p><i class="fa fa-arrow-left"></i> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex" style="display:inline-block; margin-top: 20px; float:right;">
        {% if page.next %}
        <p><a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a> <i class="fa fa-arrow-right"></i></p>
        {% endif %}
    </div>
</div>
